<div class="page-header">
  <strong>Editing Resultset: <%= @resultset.name %></strong>
</div>

<%= render 'form', resultset: @resultset %>

<%= link_to 'Show', @resultset %> |
<%= link_to 'List', resultsets_path %>
