// Place all the styles related to the resultsets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#index-definition-viewer {
  height: 300px;
  border: black solid 1px;
}

div#query-viewer {
  height: 300px;
  border: black solid 1px;
}

div#result-viewer {
  height: 300px;
  border: black solid 1px;
}
